@font-face {
    font-family: pulang;
    src: url(/fonts/Pulang.ttf);
  }

  @font-face {
    font-family: superPeach;
    src: url(/fonts/SuperPeach.ttf);
  }

  @font-face {
    font-family: theAntiType;
    src: url(/fonts/TheAntiType.ttf);
  }